{% extends "admin/base.html" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ url_for('views.themes', theme='admin', path='css/challenge-board.css') }}">
	<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<style>
    body { background-color:#fafafa;}
        .table-sortable {
            position: relative;
        }
        .table-sortable .sortable-placeholder {
            height: 37px;
        }
        .table-sortable .sortable-placeholder:after {
            position: absolute;
            z-index: 10;
            content: " ";
            height: 37px;
            background: #f9f9f9;
            left: 0;
            right: 0;
        }
	</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Category
			<a class="no-decoration" onclick="save()">
				<span role="button" data-toggle="tooltip" title="Save Order">
					<i class="btn-fa fas fa-save"></i>
				</span>
			</a>
            <a href="{{ url_for('admin.category_new') }}" class="no-decoration">
                <span role="button" data-toggle="tooltip" title="Add Category">
                    <i class="btn-fa fas fa-plus-circle"></i>
                </span>
            </a>
		</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-sortable table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody id="body">
                {% for c in category %}
                <tr>
                    <td>{{ c.number }}</td><td><span>{{ c.name }}</span></td>
                    <td>{{ c.description }}</td>
                    <td><a class="fas fa-edit" href="{{ url_for('admin.category_edit',category_id=c.id) }}"></a></td>
                    <td><a class="fas fa-trash" onclick="remove({{c.id}},'{{c.name}}')"></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(function() {
        $('.table-sortable tbody').sortable({
            handle: 'span'
        });
	});
	function save(){
		var url = "/api/v1/category";
		var params = {
        	'data': document.getElementById("body").innerHTML,
    	};
		CTFd.fetch(url, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(params)
	    }).then(function (response) {
	        if (response.status === 429) {
	            // User was ratelimited but process response
	            return response.json();
	        }
	        if (response.status === 403) {
	            // User is not logged in or CTF is paused.
	            return response.json();
	        }
	        return response.json();
	    }).then(function (response) {
	        location.reload(true);
	    });
		
	}
	function remove(id,name){
		ezq({
	            title: "Delete Category",
	            body: "Are you sure you want to delete {0}".format("<strong>" + htmlentities(name) + "</strong>"),
	            success: function () {
	                CTFd.fetch('/api/v1/category/delete', {
	                    method: 'POST',
			    body: JSON.stringify({"id": id})
	                }).then(function (response) {
	                    return response.json();
	                }).then(function (response) {
	                    if (response == "Success") {
	                        window.location = script_root + '/admin/category';
	                    }
	                });
	            }
	        });
	}
</script>
{% endblock %}

