{% extends "admin/base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Create Category</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div id="create-category-entry">
						<form>
							<label for="create-category" class="control-label">Name of Category</label>
							<input type="text" class="form-control" name="name" placeholder="Enter category name">
							<button class="mt-3 btn btn-primary float-right create-category-submit" type="submit">Create</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('views.themes', theme='admin', path='js/utils.js') }}"></script>
	<script src="{{ url_for('views.themes', theme='admin', path='js/vendor/codemirror.min.js') }}"></script>
	<script>
	var nonce = "{{ nonce }}";
	$("#create-category-entry form").submit(function (e) {
        e.preventDefault();
        var params = $("#create-category-entry form").serializeJSON();
        CTFd.fetch('/api/v1/challenges/category/new', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(params)
        }).then(function (response) {
            window.location = script_root + '/admin/category'
        });
    });
	</script>
	<script src="{{ url_for('views.themes', theme='admin', path='js/challenges/new.js') }}"></script>
	<script src="{{ url_for('views.themes', theme='admin', path='js/style.js') }}"></script>
{% endblock %}
