<div role="tabpanel" class="tab-pane" id="server">

	<form autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
				Update Binary Challenge
				<small class="form-text text-muted">
					Click to update all teams to the latest binary challenges 
				</small>
			</label>
			<button class="btn btn-md btn-primary float-right" onclick="update_binary()">Update</button>
		</div>

	</form>
	<div class="form-group">
		<label>
			Discord Bot Token
			<small class="form-text text-muted">
				Type the discord bot token here
			</small>
		</label>
		<input class="form-control" id="token" name="token" type="text" placeholder="Token" value="{{get_config('token')}}"><br>
		<label>
                        Discord Channel ID
                        <small class="form-text text-muted">
                                Type the discord channel id here
                        </small>
                </label>

		<input class="form-control" id="channel" name="channel" type="text" placeholder="Channel ID" value="{{get_config('channel')}}"><br>		

		<button class="btn btn-md btn-primary float-right" onclick="update_token()">Update</button>
	</div>
</div>
