<div role="tabpanel" class="tab-pane" id="server">

	<form autocomplete="off" class="w-100">
		<div class="form-group">
			<label>
					Update Binary Challenge
					<small class="form-text text-muted">
							Click to update a binary challenges to all the teams
					</small>
			</label>
			<input class="form-control" id="challenge" name="challenge" type="text" placeholder="Challenge Directory"><br>
						<button class="btn btn-md btn-primary float-right" onclick="update_binary()">Update</button>
		</div>
	</form>
	<div class="form-group">
		<label>
			Discord Bot Token
			<small class="form-text text-muted">
				Type the discord bot token here
			</small>
		</label>
		<input class="form-control" id="token" name="token" type="text" placeholder="Token" value="{{get_config('token')}}"><br>
		<label>
						Discord Channel ID
						<small class="form-text text-muted">
								Type the discord channel id here
						</small>
				</label>

		<input class="form-control" id="channel" name="channel" type="text" placeholder="Channel ID" value="{{get_config('channel')}}"><br>		

		<button class="btn btn-md btn-primary float-right" onclick="update_token('discord')">Update</button>
	</div>
	<div class="form-group">
		<label>
			IPinfo Token
			<small class="form-text text-muted">
				Type the IPinfo token here
			</small>
		</label>
		<input class="form-control" id="ipinfo_token" name="ipinfo_token" type="text" placeholder="Token" value="{{get_config('ipinfo_token')}}"><br>
		
		<button class="btn btn-md btn-primary float-right" onclick="update_token('ipinfo')">Update</button>
	</div>
</div>
